<h2>SoftwarePlanet CMS guides (<%= RAILS_CMS_VERSION %>)</h2>
<p>
  These are the new guides for SoftwarePlanet CMS based on <a href="https://github.com/softwareplanet/cms/tree/<%= RAILS_CMS_VERSION %>"><%= RAILS_CMS_VERSION %></a>.
  These guides are designed to make you immediately productive with Rails, and to help you understand how all of the pieces fit together.
</p>