it .project
.settings
.idea/*
nbproject
softwareplanet-cms/.idea/*
Gemfile.lock
.gitkeep

/.bundle
config/*.yml
/db/*.sqlite3
/log/*.log
/tmp

# Compiled assets
/public/assets
/public/img/storage
/app/assets/stylesheets/custom

# Local layouts and contents
/data_source
/data_source/compiled

# Documentation compiled sources
#/devcms/guide/compiled



