.project
.settings
.idea/*
nbproject

Gemfile.lock
.gitkeep

/.bundle
config/*.yml
/db/*.sqlite3
/log/*.log
/tmp

# Compiled assets
/public/assets
/public/img/storage

# Local layouts and contents
/data_source
/data_source/compiled

# Documentation compiled sources
/devcms/guide/compiled



