// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-wrapper {
  h1, h2, .heading-text {
    font-family: 'Arimo', Helvetica, Arial, sans-serif;
  }
}

body {
  min-width: 1024px;
}
/*
@media (max-width: 767px) {
 body {
   padding: 0!important;
 }
}
*/
.pos-rel {
  position: relative;
}

p.info-title {
  font-size: 22px;
  line-height: 40px;
}
p.info-content {
  font-size: 14px;
}
/*
.content {
  padding: 0 20px;
}
*/
#m {
  position: fixed;
  _position: absolute;
}