- @images.each do |image|
  -image_size = image.get_image_size[0].to_s + 'x' + image.get_image_size[1].to_s
  -image_info = image.name + '.' + image.extension + ' ' + image_size
  %div{:id => image.get_id, :title => image.name + '.' + image.extension}
    .delete_image{:onclick => "delete_image(this)", :data => {'image-name' => "#{image.name}"}}
      x
    %input{:onfocusout => "rename_finish(this)", :onkeypress => "renameOnEnterKey(this)"}
    .gallery-image{"data-href" => image.get_image_path}
      %img{:src => image.get_image_path}
    .image_description{ :data => {'info' => "#{image_info}"}}
      #{truncate(image_info, :length => 22, :omission => '...')}
      .edit_name{:onclick => "rename_image(this)"}

