-# css_id = Devcms::ID_PREFIX + Devcms::SourceType::CSS.to_s + Devcms::ID_DIVIDER + layout.type.to_s + Devcms::TARGET_DIVIDER + layout.get_name

- my_id = layout.get_id

.layout-row
  .inner
    .list
    .name
      = layout.name
    .counter
      0 страниц
    %a.properties{"data-toggle" => "tooltip", :href => "#", :title => "preferences", "data-source_id" => my_id, :onclick => "properties(this)"}
    %a.edit{"data-toggle" => "tooltip", :href => "#", :title => "edit", "data-source_id" => my_id}
    .preferences
      .preferences-rect
      .edit-properties
        %div
        Редактировать свойства
      .delete-page
        %div
        Удалить страницу
    .short-counter
      0
.line

%script{:type => 'text/javascript'}
  $('.edit').bind('click', function() {
  request_json = { object: $(this).data("source_id"), activity: "edit" }
  $.ajax({url: '/source_manager/editor.js', type: 'GET', data: request_json });
  console.log($(this).data('source_id'));
  });