$('#properties_form')[0].reset();
$('.panel_properties').css('display', 'none');

- if @layout_name != @address
  $('.panel_structure').find('.layout-row[data-source_id=pre1-id-#{@layout_name}]').next().remove();
  $('.panel_structure').find('.layout-row[data-source_id=pre1-id-#{@layout_name}]').remove();
  $('.panel_structure .content').append("#{ escape_javascript(render(:partial => 'layout', :object => @source)) }");

alert('Данные успешно сохранены');
