<h2>RailsCms Guides (<%= RAILS_CMS_VERSION %>)</h2>
<p>
  These are the new guides for RailsCms based on <a href="https://github.com/softwareplanet/railscms/tree/<%= RAILS_CMS_VERSION %>"><%= RAILS_CMS_VERSION %></a>.
  These guides are designed to make you immediately productive with Rails, and to help you understand how all of the pieces fit together.
</p>