/*
  Copyright: Interlink Software. All rights reserved © 2000 ? 2013
*/

$assets_path: "/assets/ui";

/* Uncomment mixing to allow Gradient Cms schema !!! */
.blue-gradient {
  background: -moz-linear-gradient(center top, #2681dc 0%,#000 100%)!important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2681dc),color-stop(1, #000)) !important;
}
.black-gradient {
  background: -moz-linear-gradient(center top, #222 0%,#000 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222),color-stop(1, #000)) !important;
}
.menu-bar  { /*@extend .blue-gradient;*/ }
.toolbar { /*@extend .black-gradient;*/  }

:focus {outline: none;border:  none;}
.expander {
  height: 100%;
  min-height: 800px;
}
html.cms, body.cms {
  @extend .expander;
  background: url(#{$assets_path}/background.png) repeat;
}

body.cms {
  padding-left: 100px;
  overflow: hidden;
}

.spinner {
  left: 140px;
  top: 100px;
}

.toolbar {
  position: relative;
  margin-left: -100px;
  left:  0;
  width: 100px;
  min-height: 800px;
  height: 100%;
  z-index: 999;
  background: #222;
  //padding-top: 10px;
  text-align: center;
  float: left;
  -webkit-box-shadow: 0px 0px 11px #333;
  box-shadow: 0px 0px 11px #333;

  .icon {
    position: relative;
    margin-top: 24px;

    height: 60px;
    cursor: pointer;
    float: left;
    text-align: right;
    margin-left: 27px;

    .icon-tooltip {
      opacity: 0.8;
      position: absolute;
      left: 100px;
      border-radius: 2px;
      top:11px;
      background: #257bd2;
      border: 2px solid #358be2;
      padding: 12px;
      width: auto;
      font-weight: bold;
      font-size: 17px;
      color: #e6e6e6;
      text-align: left;;
      ins {
        position: absolute;
        width: 10px;
        height: 17px;
        background: url(#{$assets_path}/icons/arrow.png) no-repeat;
        left: -9px;
        top: 8px;

      }
    }
  }
  .icon-exit {
    position: absolute;
    bottom: 10px;
    left: 0;

  }
  .icon-main {
    width: 51px;
    margin-left: 21px;
    background-image: url(#{$assets_path}/main-toolbar.png);
    background-position: 0 0;
  }
  .icon-main:hover, .icon-main.highlighted  {
    width: 51px;
    margin-left: 21px;
    background-image: url(#{$assets_path}/main-toolbar.png);
    background-position: -51px 0;
  }

  .icon-structure {
    width: 61px;
    margin-left: 16px;
    background-image: url(#{$assets_path}/structure-toolbar.png);
    background-position: 0 0;
  }
  .icon-structure:hover, .icon-structure.highlighted {
    width: 61px;
    margin-left: 16px;
    background-image: url(#{$assets_path}/structure-toolbar.png);
    background-position: -61px 0;
  }

  .icon-content {
    width: 75px;
    margin-left: 9px;
    background-image: url(#{$assets_path}/content-toolbar.png);
    background-position: 0 0;
  }
  .icon-content:hover, .icon-content.highlighted {
    width: 75px;
    margin-left: 9px;
    background-image: url(#{$assets_path}/content-toolbar.png);
    background-position: -75px 0;
  }

  .icon-components {
    width: 73px;
    margin-left: 10px;
    background-image: url(#{$assets_path}/components-toolbar.png);
    background-position: 0 0;
  }
  .icon-components:hover, .icon-components.highlighted {
    width: 73px;
    margin-left: 10px;
    background-image: url(#{$assets_path}/components-toolbar.png);
    background-position: -73px 0;
  }

  .icon-gallery {
    width: 49px;
    margin-left: 25px;
    background-image: url(#{$assets_path}/gallery-toolbar.png);
    background-position: 0 0;
  }
  .icon-gallery:hover, .icon-gallery.highlighted {
    width: 49px;
    margin-left: 25px;
    background-image: url(#{$assets_path}/gallery-toolbar.png);
    background-position: -49px 0;
  }

  .icon-settings{
    width: 63px;
    margin-left: 15px;
    background-image: url(#{$assets_path}/settings-toolbar.png);
    background-position: 0 0;
  }
  .icon-settings:hover, .icon-settings.highlighted {
    width: 63px;
    margin-left: 15px;
    background-image: url(#{$assets_path}/settings-toolbar.png);
    background-position: -63px 0;
  }

  .icon-exit {
    width: 38px;
    background-image: url(#{$assets_path}/exit-toolbar.png);
    background-position: 0 0;
  }
  .icon-exit:hover, .icon-exit.highlighted {
    width: 38px;
    background-image: url(#{$assets_path}/exit-toolbar.png);
    background-position: -38px 0;
  }
}

.menu-bar.menu-bar-inactive {
  background: #e6e6e6!important;
  .layout-row{
    color: #555!important;
    .list {
      background: url(/img/common/sidebar/icons/list2.png) no-repeat;
    }
  }
  .line {
    border-bottom: 2px solid lightgray!important;
  }
  .title {
    color: #555;
    font-weight: bold;
  }

}

i.close-child {
  position: absolute;
  top: 49px;
  left: 251px;
  width: 15px;
  height: 15px;
  opacity: 0;
  background-image: url("/assets/arrow-left.png");
}
i.close-child:hover {
  cursor: pointer;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px 4px gray;
  box-shadow: 0px 0px 10px 4px gray;
}


.panel {
  float: left;
  display: none;
  position: relative;
}
.scrollable {
  overflow: auto;
}
.panel_structure,
.panel_main,
.panel_components,
.panel_settings,
.panel_content {
  position: absolute;
  display: block;
  -webkit-transform: translate3d(-500px, 0, 0)!important;
  -webkit-transition-duration: 250ms,250ms!important;
}
.panel_child_structure {
  -webkit-transition-duration: 250ms,250ms;
  z-index: 10000!important;
  .title {
    height: 19px;
  }
  .name {
    float: left;
  }
}

/*.panel_new-page,*/
/*.panel_child_structure,*/
.panel_editor,
.panel_properties,
.panel_component_properties,
.panel_new-component {
 left: 369px!important;
}

.panel_main,
.panel_structure,
.panel_child_structure,
.panel_components,
.panel_settings,
.panel_properties,
.panel_component_properties,
.panel_new-page,
.panel_gallery,
.panel_new-component {
  width: 369px;
  height: 100%;
  background: #2681dc;
  color: #7fb3ec;
  -webkit-box-shadow: 0px 0px 11px #333;
  box-shadow: 0px 0px 11px #333;
  .title {
    margin: 45px 15px 20px 20px;
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
  .line {
    height: 0px;
    border-bottom: 2px solid #539ce5;
  }
  /*.rect {
    position: absolute;
    background: url(#{$assets_path}/icons/arrow.png);
    width: 10px;
    height: 17px;
    left: -9px;
  }*/
}


.show_panel_level_1 {
  display: block!important;
  -webkit-transform: translate3d(0, 0, 0)!important;
}

.panel_properties,
.panel_new-page,
.panel_component_properties,
.panel_new-component {
  -webkit-transition-duration: 250ms,250ms;
}

.panel_viewer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  .view_pane {
    background: white;
    iframe {
      overflow: auto;
      border: none;
      html {
        background: none;
      }
    }
  }
}
.panel_editor {
  height: 100%;
  display: none;
  position: relative;
  min-width: 1210px;
}
.panel_gallery {
  float: left;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
  background-color: white;
  .header {
    background-color: white;
    .title {
      color: #000000;
      margin-left: 46px;
      margin-right: 46px;
      .navigation_panel {
        float: right;
        height: 19px;
        position: relative;
        #load_to_gallery {
          float: right;
          margin-right: 23px;
          cursor: pointer;
          width: 19px;
          height: 19px;
          overflow: hidden;
          background: url(#{$assets_path}/icons/plus2.png);
        }
        #help_icon {
          float: right;
          cursor: pointer;
          width: 12px;
          height: 19px;
          overflow: hidden;
          background: url(#{$assets_path}/icons/icon-help2.png);
        }
        form {
          opacity: 0;
          margin: 40px 0 0 0;
        }
        .preferences {
          cursor: pointer;
          margin: 0;
          padding: 0;
          background-color: none!important;
          border:  none;
          top: 27px;
          left: 35px;
          width: 229px;

          li {
            height: 49px;
            width: 100%;
            line-height: 50px;
            color: black;
            cursor: pointer;
            font-size: 15px;
            text-align: center;
            font-weight: 100;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          }
          .add_folder {
            color: black;
            background-color: white;
            .preferences-rect {
              position: absolute;
              margin:-6px 0 0 208px;
              background: url(#{$assets_path}/icons/rect_top_white.png) no-repeat;
              height: 8px;
              width: 14px;
            }
          }
          .add_image {
            color: black;
            background-color: white;
          }
          .add_folder:hover {
            color: white;
            background-color: #539ce5;
            .preferences-rect {
              background: url(#{$assets_path}/icons/rect_top_blue.png) no-repeat;
            }
          }
          .add_image:hover {
            color: white;
            background-color: #539ce5;
          }
        }
      }
    }
  }
  .content > div:hover {
    .delete_image {
      display: block;
    }
  }
  .content > div {
    float:left;
  }
  .content {
    padding-top: 5px;
    font-size: 13px;
    color: black;
    margin-left: 23px;
    margin-right: 23px;
    background-color: white;
    display: inline-block;
    .gallery-folder {
      background: none;
      float: left;
      .dir {
        width: 170px;
        height: 130px;
        background: url(#{$assets_path}/cms-folder.png) no-repeat;
        overflow: hidden;
        float: left;
      }
      .dir:hover {
        cursor: pointer;
      }
      .count-source {
          position: absolute;
          z-index: 50;
          margin-left: 150px;
          font-size: 13px;
          float: right;
      }
    }
    .delete_image {
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 100;
      margin-left: 150px;
      font-size: 13px;
      color: lightgray;
      background-color: #000000;
      opacity: 0.5;
      float: right;
      border-radius: 3px;
      display: none;
      cursor: pointer;
    }
    .delete_image:hover {
      color: red;
    }
    input {
      position: absolute;
      z-index: 100;
      display: none;
      width: 166px;
      margin-top:132px;
    }
    .image_description,
    .folder_description {
      line-height: 30px;
      text-align: left;
      max-height: 30px;
      //overflow: hidden;
      .edit_name {
        font-size: 14px;
        margin: 0 0 0 2px;
        width: 11px;
        height: 12px;
        display: none;
        cursor:pointer;
        opacity: 0.7;
        background: url(#{$assets_path}/icons/pen2.png) no-repeat;
      }
      .edit_name:hover {
        opacity: 1;
      }
    }
    .image_description:hover,
    .folder_description:hover {
      .edit_name {
        display: inline-block;
      }
    }
    .gallery-image {
      //text-align: center;
      position: relative;
      //width: 176px;
      height: 130px;
      line-height: 126px;
      cursor: pointer;

      img {
        max-width: 170px;
        vertical-align: middle;
        max-height: 130px;
      }
    }
    .gallery-image:hover {
      -webkit-box-shadow: 0px 0px 11px #333333;
      box-shadow: 0px 0px 11px #333333;
    }

  }
  .content > div {
    width: 170px;
    height: 130px;
    text-align: center;
    background-color: gainsboro;
    margin: 0px 19px 46px 23px;
    //vertical-align: middle;
    display: inline-block;
  }
}
.cms-folder {
  background: url(#{$assets_path}/cms-folder.png) no-repeat;
  width: 170px;
  height: 130px;
}
.panel_structure, .panel_components, .panel_child_structure {
  .add-structure, .add-component {
    float: right;
    width:19px;
    height: 19px;
    background: url(#{$assets_path}/icons/plus.png);
  }
  .add-structure:hover, .add-component:hover {
    background: url(#{$assets_path}/icons/plus2.png);
    cursor: pointer;
  }
}

.panel_main {
  z-index: 100;
}

.panel_main .rect {
  top: 42px;
}
.panel_structure .rect {
  top: 122px;
}
.panel_content, {
  z-index: 100;
  width: 369px;
  //padding-bottom: 15px;
  top: 20px;
  left: 126px;
  overflow: auto;
  max-height: 800px;
  //height: 100%;
  background: rgba(38, 129, 220, 0.6);

  color: #7fb3ec;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 11px #333;
  box-shadow: 0px 0px 11px #333;
  .title {
    margin: 15px 20px 10px 20px;
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
  .line {
    height: 0px;
    border-bottom: 2px solid #539ce5;
  }
  .content {
    .layout-row {
      color: #7fb3ec;
      font-size: 15px;
      padding: 10px;
      background: #2681dc;

      .inner {
        display: inline-block;
        position: relative;
        width: 100%;
      }
      .list {
        margin-top: 4px;
        width: 16px;
        height: 16px;
        background: url(#{$assets_path}/icons/list.png) no-repeat;
        float: left;
      }
      .name {
        padding-left: 5px;
        font-weight: bold;
        float: left;
      }
    }
    .layout-row:hover {
      background: #539ce5;
      cursor: pointer;
      .folder {
        background: url(#{$assets_path}/icons/folder2.png) no-repeat;
        display: block;
      }
      .list {
        background: url(#{$assets_path}/icons/list2.png) no-repeat;
        display: block;
      }
      color: black;
    }
  }

}

.panel_components {
  z-index: 100;
  border-radius: 0 5px 5px 0;
  .rect {
    top: 282px;
  }
}

.panel_gallery .rect {
  top: 422px;
  left:  91px;
  background: url(#{$assets_path}/icons/rect_white.png);
}
.panel_settings{
  z-index: 100;
}
.panel_settings .rect {
  top: 442px;
}

.menu-bar.page-properties {
  background: white;
  color: black;

  .title {
    color: black;
  }
  .line {
    border-bottom: 2px solid lightgrey !important;
  }
  .seoblock {
    a {
      color: black;
    }
    .accordion-inner {
      border-top: 1px solid #e5e5e5;
    }
  }
  .btn-save {
    margin-top: 30px;
  }
}

.panel_new-page,
.panel_properties,
.panel_component_properties,
.panel_new-component {
  background: white;
  color: black;

  .title {
    color: black;
  }
  .line {
    border-bottom: 2px solid lightgrey !important;
  }
  form {
    padding: 10px;
  }
  .seoblock {
    a {
      color: black;
    }
    .accordion-inner {
      border-top: 1px solid #e5e5e5;
    }
  }
  .btn-save {
    margin-top: 30px;
    width: 0;
  }
}

.panel_structure, .panel_components, .panel_child_structure {
  z-index: 100;
  .layout-row, .component-row {
    color: #7fb3ec;
    font-size: 15px;
    padding: 10px;
    background: 2681dc;
    position: relative;

    .clickable_area {
      left: 0px;
      top: 0px;
      position: absolute;
      height: 100%;
      width: 291px;
      z-index: 1000;
      cursor: pointer;
    }

    .inner {
      display: inline-block;
      position: relative;
      width: 100%;
      .preferences {
        cursor: pointer;
        margin: 0;
        padding: 0;
        background-color: none!important;
        border:  none;
        top: 27px;
        left: 108px;
        width: 229px;
        z-index: 2000;
        li {
          height: 49px;
          width: 100%;
        }
        .edit-properties {
          color: black;
          background-color: white;
          .preferences-rect {
            position: absolute;
            margin:-6px 0 0 203px;
            background: url(#{$assets_path}/icons/rect_top_white.png) no-repeat;
            height: 8px;
            width: 14px;
          }
          .pencil {
            font-size: 14px;
            margin: 19px 10px 0 22px;
            width: 11px;
            height: 12px;
            display: inline-block;
            background: url(#{$assets_path}/icons/pen2.png) no-repeat;
          }
        }
        .delete-page {
          color: black;
          background-color: white;
          div {
            font-size: 14px;
            margin: 16px 10px 0 22px;
            width: 11px;
            height: 13px;
            display: inline-block;
            background: url(#{$assets_path}/icons/delete.png) no-repeat;
          }
        }
        .edit-properties:hover {
          color: white;
          /*background-color: #539ce5;*/
          background-color: rgb(50, 137, 224);
          .preferences-rect {
            background: url(#{$assets_path}/icons/rect_top_blue.png) no-repeat;
          }
          .pencil {
            background: url(#{$assets_path}/icons/pen.png) no-repeat;
          }
        }
        .delete-page:hover {
          color: white;
          background-color: #539ce5;
          div {
            background: url(#{$assets_path}/icons/delete2.png) no-repeat;
          }
        }
      }
      .counter {
        float: right;
        font-size: 12px;
      }
      .short-counter {
        float: right;
        font-size: 12px;
        margin-right: 15px;
        display: none;
      }
    }

    .folder {
      margin-top: 4px;
      width: 16px;
      height: 16px;
      background: url(#{$assets_path}/icons/folder.png) no-repeat;
      float: left;
    }
    .list {
      margin-top: 4px;
      width: 16px;
      height: 16px;
      background: url(#{$assets_path}/icons/list.png) no-repeat;
      float: left;
    }
    .edit {
      margin: 4px 10px 0 0;
      width: 11px;
      height: 11px;
      background: url(#{$assets_path}/icons/editor.png) no-repeat;
      float: right;
      display: none;
    }
    .properties {
      margin: 4px 10px 0 0;
      width: 12px;
      height: 13px;
      background: url(#{$assets_path}/icons/properties.png) no-repeat;
      float: right;
      display: none;
    }
    .edit:hover {
      background: url(#{$assets_path}/icons/editor2.png) no-repeat;
    }
    .properties:hover {
      background: url(#{$assets_path}/icons/properties2.png) no-repeat;
    }

    .name {
      padding-left: 5px;
      font-weight: bold;
      float: left;
    }
  }
  .layout-row:hover, .component-row:hover  {
     background: #539ce5;
    .folder {
      background: url(#{$assets_path}/icons/folder2.png) no-repeat;
      display: block;
    }
    .list {
      background: url(#{$assets_path}/icons/list2.png) no-repeat;
      display: block;
    }
    .edit {
      display: block;
    }
    .properties {
      border: none;
      display: block;
      border-radius: 10px;
      cursor: pointer;
    }
    .counter {
      display: none;
    }
    .short-counter {
      display: inline-block;
    }
    .properties_animate_config {
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
      transition-property: transform;
    }
    .properties_animate_run {
      -webkit-transform:rotate(60deg);
      -moz-transform:rotate(60deg);
      -o-transform:rotate(60deg);
    }
    .edit:hover {-webkit-box-shadow: 0px 0px 10px 4px lightblue; box-shadow: 0px 0px 10px 4px lightblue;}
    .properties:hover {-webkit-box-shadow: 0px 0px 10px 4px lightblue; box-shadow: 0px 0px 10px 4px lightblue;}

    color: black;
  }
}

.layout-row-selected, .component-row-selected  {
  background: #539ce5;
}

.panel_structure.inactive {
  background: #ebebeb;
  .title {
    color: #555555;
  }
  .line {
    border-bottom: 2px solid #969da3;
  }
  .layout-row {
    color: #555555;
    .list {
      background: url(#{$assets_path}/icons/list2.png) no-repeat;
    }
  }
  .layout-row:hover {
    background-color: #969da3;
  }
  .add-structure {
    background: url(/assets/ui/icons/plus2.png);
  }
}
.inactive .selected {
  background-color: #969da3;
  .inner {
    color: black;
  }
}

.editor-panel {
  height: 100%;
  //background: #2681dc;
  display: none;
  float: left;
  width: 100%;
  margin-left: -469px;

  .inner {
    margin-left: 469px;
    background: #2681dc;
    //padding: 30px;
    height: 100%;
    //-webkit-box-shadow: -10px 0px 15px 2px #aaa;
    //box-shadow: -10px 0px 15px 2px #333;

    .title {
      padding: 63px 15px 0px 20px;
      color: white;
      font-size: 22px;
      font-weight: bold;
    }
  }
  .nav {
    padding: 0;
    margin: 0;
    background: url(#{$assets_path}/tab-background.png) repeat-x;
    border-bottom: 1px solid #fff;
  }
  .nav-tabs > li {
    margin-top: 7px;
    height: 40px;
    background: #5aa5ee;
    width: 226px;
    color: white;
  }
  .nav-tabs > li > a {
    padding: 9px 0 14px 35px;


    line-height: 16px;


    border: none;
    -moz-border-radius: none;
    border-radius: none;
    display: block;
    color: white;
    font-size: 12px;
    background: none;
  }
  .nav-tabs > li > a:hover {
    background: none;
    border: none;
    text-decoration: underline;
  }
  .nav-tabs > li.active {
    margin-top: 0;
    height: 48px;
    background: url(#{$assets_path}/tab.png) no-repeat;
  }
  .nav-tabs > li.active > a:hover {
    text-decoration: none;;
  }
  .nav-tabs > li.active a {
    color: black;
    font-weight: bold;
    font-size: 14px;
  }
  .tab-pane {
    background: white;
    padding: 20px 25px;
    border-radius: 0 0px 7px 7px;
  }
  .tab-content {
    overflow: visible;
  }
  .haml-tab {
    .save-haml-btn {
      background: #5aa5ee;
      margin-top: 20px;
      padding: 9px 23px;
      border-radius: 7px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      display: inline-block;
    }
    .save-haml-btn:hover {
      background: blue;
      -webkit-box-shadow: 0px 0px 10px 4px lightblue;
    }
  }
  .css-tab {
    .save-css-btn {
      background: #5aa5ee;
      margin-top: 20px;
      padding: 9px 23px;
      border-radius: 7px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      display: inline-block;
    }
    .save-css-btn:hover {
      background: blue;
      -webkit-box-shadow: 0px 0px 10px 4px lightblue;
    }
  }
  .dropdown-selected {
    background-color: lightblue;
  }

  .editor-wrapper {
     padding: 20px;
  }
}

#haml_editor {
  display: inline-block;
  width: 100%;
}
.CodeMirror-lines {
}

/* Layout List, sortable */
ul.layouts-list, ul.components-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.draggable-layout {
  opacity: 0.5;
}
.preferences {
  height: 74px;
}

.folder-state-active {
  -webkit-box-shadow: 0px 0px 10px 8px lightgray;
  box-shadow: 0px 0px 10px 8px lightgray;
}
.folder-state-hover {
  -webkit-box-shadow: 0px 0px 10px 8px lightblue;
  box-shadow: 0px 0px 10px 8px lightblue;
}

.settings-content {
  margin: 10px;
}

/*
.drag-helper {
  opacity: .75 !important;
  width: 170px;
  height: 130px;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
*/