#gallery_popup {
  top: 20%;
}

.browse-button input[type="file"] {
  width: 61px;
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: pointer;
  opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}​

.browse-button {
  cursor: pointer;
  float: left;
  overflow: hidden;
  position: relative;
}
.browse-button input[type="button"] {
  cursor: pointer;
}

.gallery-content {
  background: #fafad2;
  width: 95%;
  display: inline-block;
  border: 1px dotted darkgray;
}
.img-box {
  float: left;
  margin: 8px;
  padding: 10px;
  cursor: pointer;
  height: 125px;
  display: inline-block!important;
}
.img-box:hover {
  background: lightblue;
}
.delete-image {
  opacity: 0;
  float: right;
  position:relative;
  top: -11px;
  right: -4px;
  width: 14px;
  height: 14px;
  background: url(/assets/ui-delete-invis.png);
}
.delete-image:hover {
  background: url(/assets/ui-delete.png);
}
.img-box:hover .delete-image{
  opacity: 1!important;
}
.img-container {
  width: 93px;
  height: 93px;
  position: relative;
}
.box {
  display: block;
  position: absolute;
  bottom: 1px;
}
img.box {
  max-width: 93px;;
  max-height: 93px;
  margin: 0 auto;
}

input.image-name {
  width:80px;
  height: 14px;
}
.imgsize {

}
.tagname-description, .imgsize-description {
  font-style: italic;
  font-weight: bold;
  display: none;
}

.clear {
  clear: both;
}