.editor-panel
  .inner
    .title
    .editor-wrapper
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab1"} Исходный код
          %li.css-navtab
            %a{"data-toggle" => "tab", :href => "#tab2"} Стили оформления
          -#%li.head-navtab
            %a{"data-toggle" => "tab", :href => "#tab3"} Редактирование секции HEAD
        .tab-content
          #tab1.haml-tab.tab-pane.active
            .head-tag
              .heading
                Head content
                = render "cms/source_code/panel_editor_dropdown"
              %textarea{:id => "head_editor"}
            Body content
            %textarea{:id => "haml_editor"}
            .save-haml-btn
              Сохранить

          #tab2.css-tab.tab-pane
            %textarea{:id => "css_editor"}
            .save-css-btn
              Сохранить
          -##tab3.head-tab.tab-pane
            %textarea{:id => "head_editor"}
            .save-head-btn
              Сохранить