.settings-content
  = I18n.t('settings_form.default_layout')
  %br
  %br
  - options_for_select = ""
  - default_id = default ? default.get_source_id : nil
  - items.each {|src| options_for_select << "<option #{"selected='selected'" if default_id && src.get_source_id == default_id}>#{src.get_source_name}</option>"}
  = select_tag "locations", options_for_select.html_safe