$('#new_structure_form')[0].reset();
- if @layout.get_source_target.nil?
  $('.panel_structure .content .layouts-list').append("#{ escape_javascript(render(:partial => 'layout', :object => @layout)) }");
- else
  $('.panel_child_structure .content .layouts-list').append("#{ escape_javascript(render(:partial => 'layout', :object => @layout)) }");

$('.panel_new-page').css('display', 'none')