$('#global_action_form')[0].reset();
$('.panel_structure .content .layouts-list').append("#{ escape_javascript(render(:partial => 'layout', :object => @layout)) }");
$('.panel_new-page').css('display', 'none')