-# Tool_Bar ajax methods process all user actions, captured on the ToolBar (left-side black panel)
-#

var activity = '#{@activity}';
var icon_name = '#{@object}';
var gallery_path = '#{@path}';

- case @activity
  - when 'click'
    UI.hideAllPanels()
    UI.showPanel(icon_name)
    UI.showPanelSpinner(icon_name)
    Request.getPanelData(icon_name, {path: gallery_path})