// Tool_Bar ajax methods process all user actions, captured on the ToolBar (left-side black panel)

- if @object == 'exit'

  if ( confirm("#{ I18n.t('ui.quit') }") ) {
  window.location = '/adm/logout';
  }

- else

  var icon_name = '#{@object}';
  UI.hideAllPanels()
  UI.showPanel(icon_name)
  UI.showPanelSpinner(icon_name)
  // Load panel data. Separate ajax request. Request class defined in ui.js.coffee.
  Request.getPanelData(icon_name)