- @folders.each do |folder|

  .gallery-folder{ 'data-path' => "#{folder.path.chomp('/')+'/'}", 'data-name' => "#{folder.name}"}
    - unless folder.name == '..'
      .delete_image{:onclick => "deleteFolder(this)"}
        x
    .count-source
      = folder.size
    - unless folder.name == '..'
      %input{:onfocusout => "renameFolder(this)", :onkeypress => "renameFolderOnEnterKey(this)"}
    .dir{:onclick => 'openFolder(this)'}
    .folder_description
      #{truncate(folder.name, :length => 22, :omission => '...')}
      - unless folder.name == '..'
        .edit_name{:onclick => "editFolderName(this)"}


:javascript
  $('.gallery-folder').droppable({
    accept: ".image",
    activeClass: "folder-state-hover",
    hoverClass: "folder-state-active",
    drop: function( event, ui ) {
      $(ui.helper).remove();
      image_id = $(ui.helper)[0].id
      folder_path = $(this).data('path') + $(this).data('name').replace('..', '')
      GalleryAction.moveImageToFolder(image_id, folder_path)
    }
  });